*{
  margin: 0;
  padding: 0;
}
body{
  background-color: rgb(51, 109, 196);
}
.playground {
  position: relative;
  width : 350px;
  height: 630px;
  background-color: green;
  background-image: url("img/1.jpg");
  background-size: cover;
  border: 5px solid black;
}

.ball {
  position: absolute;
  top   : 600px;
  left  : 165px;
  width : 20px;
  height: 20px;
  background-color: black;
  background-image: url("img/ball.jpg");
  background-size: cover;
  border-radius: 100%;
}
.hole{
  position: absolute;
  top: 0;
  left  : 0;
  width : 30px;
  height: 30px;
  background-color: blue;
  background-image: url("img/dot.jpg");
  background-size: cover;
  border-radius: 100%;
}

#timer{
  margin-left: 20px;
  margin-top: 20px;
  float: left;
  font-size: 20px;
}
.fence{
  position: absolute;
  background: rgb(22, 108, 114);
}

#fence_1{
  top: 500px;
  right: 0;
  height: 5px;
  width: 300px;
}
#fence_2{
  top: 350px;
  left: 0;
  height: 10px;
  width: 300px;
}
#fence_3{
  top: 230px;
  right: 0;
  height: 10px;
  width: 300px;
}
#fence_4{
  top: 100px;
  left: 0;
  height: 5px;
  width: 300px;
}

@media only screen and (max-width: 800px) {
  .ball {
    width: 35px;
    height: 35px;
  }
  .hole {
    width: 45px;
    height: 45px;
  }
  .playground{
      width: 355px;
  }
}
@media only screen and (max-width: 360px) {
  .ball {
    width: 30px;
    height: 30px;
  }
  .hole {
    width: 40px;
    height: 40px;
  }
  .playground{
      width: 350px;
  }
}