*{
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body, html {
  height: 100%;

}

.play-area {
  height: 100%;
  position: relative;
  margin: 0;
  background-image: url("img/1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.play-area .ball {
  width: 60px;
  height: 60px;
  position: absolute;
  z-index: 1000;
  bottom: 10%;
  right: 10%;
  border-radius: 50%;
  background-image: url("img/ball.jpg");
  background-size: cover;
}
.play-area .hole {
  position: relative;
  z-index: 10;
  width: 70px;
  height: 70px;
  background-image: url("img/dot.jpg");
  background-size: cover;
  top: 10%;
  left: 30%;
}

.play-area .output {
  position: absolute;
  bottom: 0;
}

@media only screen and (max-width: 1366px) {
  .play-area .ball {
    width: 25px;
    height: 25px;
  }
  .play-area .hole {
    width: 70px;
    height: 70px;
  }
}
@media only screen and (max-width: 812px) {
  .play-area .ball {
    width: 20px;
    height: 20px;
  }
  .play-area .hole {
    width: 50px;
    height: 50px;
  }
}
