*{
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Raleway';
    background-color: #0a88d3;
}

main {
    width: 100%;


}
button{
    margin: 0 auto;
    margin-top: 20px;
    width: 180px;
    height: 60px;
    text-transform: uppercase;
    background-color: #444;
    color: white;
    border-radius: 10px;
}


#new-note {
    background: rgb(78, 76, 76);
    color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #292b29;
}
p{
    text-align: center;
    margin: 8px;
    font-size: 20px;
}
.container{
    display: absolute;
    width: 100%;
    min-height: 50%;
    padding-top: 30px;
}
#notes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}
.note {
    color: #444;
    background: #fff;
    display: inline-block;
    min-width: 220px;
    width: 19%;
    height: 150px;
    margin: 20px;
    padding: 20px;
    max-width: 25%;
    overflow: hidden;
    box-shadow: 5px 5px 15px #292b29;
}

.note-title {
    font-size: 18px;
}
.note-content {
    padding: 10px 0;
    font-family: 'Kalam';
}
.note-date {
    font-size: 12px;

}
.note-menu {
    padding-top: 15px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}
.far, .fas {
    color: #999;
}

.active {
    color: rgb(209, 54, 54);
}
.colors {
    display: flex;
}
.color {
    display: block;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    border: 1px solid rgba(0,0,0, 0.5);
}
.red {
    background: rgb(202, 67, 67);
    color: #fff;
}
.green {
    background: rgb(208, 238, 168);

}
.blue {
    background: rgb(208, 238, 243);
}